<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context classpath:/org/springframework/context/config/spring-context-3.1.xsd
		http://www.springframework.org/schema/tool classpath:/org/springframework/beans/factory/xml/spring-tool-3.1.xsd">
    <context:annotation-config/>

    <!-- main -->
    <bean name="embeddedJettySpringServlet" class="com.yxl.demo.restful.main.EmbeddedJettySpringServlet"/>
    <bean name="launcher" class="com.yxl.demo.restful.main.Launcher"/>

    <!-- provider -->
    <bean id="demoProvider" name="demoProvider" class="com.yxl.demo.restful.web.provider.DemoProvider"/>


    <!-- resource -->
    <bean name="demo" class="com.yxl.demo.restful.web.resource.Demo"/>


    <!--&lt;!&ndash; 启动包扫描功能，以便注册带有@Controller、@Service、@repository、@Component等注解的类成为spring的bean &ndash;&gt;-->
    <!--<context:component-scan base-package="com.yxl.demo.garen.restful.manager.*" />-->
    <!--<context:component-scan base-package="com.yxl.demo.garen.restful.*" />-->
</beans>